body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: rgb(46, 46, 46);
  color: white;
}

nav {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.atoggle {
  text-decoration-line: none;
  color: #fff;
}

ul {
  display: flex;
}

ul li {
  list-style-type: none;
}
#toggleBtn {
  cursor: pointer;
  background: none;
  color: #000;
  border: none;
}

i {
  font-size: 18px;
}

.fa-sun {
  color: #fff;
}
.fa-moon {
  color: #fff;
}

.navbar-brand {
  border-radius: 50%;
}
.navbar-brand:hover {
  width: 55px;
  transition: all 0.7s;
}
.text-container {
  font-size: 24px;
  font-family: Arial, sans-serif;
  transition: opacity 1s ease-in-out;
  display: inline-block;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}
